*.ets linguist-language=arkts
*.1 linguist-language=arkts
*.2 linguist-language=arkts
*.3 linguist-language=arkts
*.4 linguist-language=arkts
*.5 linguist-language=arkts
*.6 linguist-language=arkts
*.7 linguist-language=arkts
*.8 linguist-language=arkts
*.9 linguist-language=arkts
