*.ets linguist-language=arkts
*.1 linguist-language=typescript
*.2 linguist-language=typescript
*.3 linguist-language=typescript
*.4 linguist-language=typescript
*.5 linguist-language=typescript
*.6 linguist-language=typescript
*.7 linguist-language=typescript
*.8 linguist-language=typescript
*.9 linguist-language=typescript
